<div class="row">
  <div class="col-md-6">
    <h3>9 September 2022</h3>
    <table class="table table-striped">
     <tr> <td>08:00-08:45</td> <td> Registration and Welcoming </td> </tr>
     <tr> <td>08:45-11:00</td> <td><a href="https://librarycarpentry.org/lc-open-refine/01-introduction/index.html">Introduction to open refine</a></td> </tr>
     <tr> <td>11:00-11:30</td> <td>Morning break</td> </tr>
     <tr> <td>11:30-13:00</td> <td><a href="https://librarycarpentry.org/lc-open-refine/01-introduction/index.html">Open Refine Continued</a></td> </tr>
     <tr> <td>13:00-14:00</td> <td>Lunch Break</td> </tr>
     <tr> <td>14:00-15:00</td> <td><a href="https://librarycarpentry.org/lc-open-refine/12-export-transformation/index.html">Exporting and looking up data</a></td> </tr>
     <tr> <td>15:00-15:30</td> <td>Wrap-up and Lucky Draw</td> </tr>
     <tr> <td>Before Starting</td> <td><a href="https://librarycarpentry.org/lc-open-refine/setup.html" target="_blank" rel="noopener noreferrer">Setup</a></td> </tr>
    </table>
  </div>
  
   
</div>
